
<div class="panel panel-default center" style="padding:20px">	
<%= image_tag @pin.image.url %>

	<p>
 		<div class = "panel-body">
	  	<strong>Description:</strong>
	  	<%= @pin.description %>
	</p>


	<% if @pin.user == current_user %>
	  <%= link_to 'Edit', edit_pin_path(@pin), class: 'btn btn-default' %>
	<% end %>

<%= link_to 'Back', pins_path, class: 'btn btn-primary' %>
</div>
</div>